<section class="register flex justify-center">
  <div class="max-w-md w-full space-y-8">
    <form
      class="mt-8 space-y-6 bg-white shadow-md rounded px-8 pt-6 pb-8"
      action="/register"
      method="POST"
    >
      <div class="mb-4 text-center">
        <h1 class="font-bold text-3xl">Register</h1>
      </div>
      <div class="mb-4">
        <label for="name" class="sr-only">Name</label>
        <input
          id="name"
          value="<%= messages.name %>"
          name="name"
          type="text"
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm"
          placeholder="Name"
        />
      </div>
      <div class="mb-4">
        <label for="email-address" class="sr-only">Email address</label>
        <input
          id="email-address"
          value="<%= messages.email %>"
          name="email"
          type="email"
          required
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm"
          placeholder="yourname@example.com"
        />
      </div>
      <div class="mb-6">
        <label for="password" class="sr-only">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          required
          class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm"
          placeholder="******"
        />
      </div>
      <% if (messages.error) { %>
      <span class="text-red-500 text-small mt-10"
        ><strong>Error:</strong> <%= messages.error %></span
      >
      <% } %>
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <button
            type="submit"
            class="btn-primary px-6 py-2 rounded-full text-white font-bold"
          >
            Register
          </button>
        </div>
        <div class="text-sm">
          <a href="#" class="font-medium">
            Have an account? Login here
          </a>
        </div>
      </div>
    </form>
  </div>
</section>
