@import './variables';

body {
  font-family: 'Lato' sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}

nav li:last-child a {
  background: $primary;

  &:hover {
    background: $primary-hover;
  }
}

nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}

section.hero {
  background: $secondary;
}

.size {
  background: $secondary;
}

.footer {
  background: $primary;
}

section.cart {
  background: $secondary;
  min-height: calc(100vh - 146px);
  .total-amount {
    color: $primary;
  }
}

section.login,
section.register {
  background: $secondary;
  min-height: calc(100vh - 146px);
  a {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }
}

.btn-primary {
  background: $primary;
  transition: $smooth;
  &:hover {
    background: $primary-hover;
  }
}

.add-to-cart,
.order-now-button {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth;

  &:hover {
    background: $primary;
    color: $pure;
    border-color: $pure;
    transition: $smooth;
  }
}
